<h3>Poll Results:</h3>

@foreach (var option in Poll.Options.OrderByDescending(option => option.Votes))
{
    var ratio = option.Votes / (float)Poll.Participants;
    var percentage = ratio * 100;

    var formattedPercentageWithoutSymbol = $"{percentage:0.##}";
    var formattedPercentageWithSymbol = $"{ratio:0.##%}";

    <div class="mb-3">
        <div class="row">
            <div class="col">@option.Text</div>
            <div class="col votes-number">(@option.Votes votes)</div>
        </div>
        <div class="progress vote">
            <div class="progress-bar" role="progressbar" aria-label="@($"{option.Text} votes percentage")"
             style="@($"width: {percentage}%;")"
             aria-valuenow="@formattedPercentageWithoutSymbol" aria-valuemin="0" aria-valuemax="100">
                @formattedPercentageWithSymbol
            </div>
        </div>
    </div>
}

<p>Participants: @Poll.Participants</p>

<style>
    .vote {
        height: 25px;
    }

    .votes-number {
        text-align: right;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public Poll Poll { get; set; }
}